<IfModule mod_rewrite.c>
  RewriteEngine On
  DirectoryIndex index.html

  # Rule to remove .html extension from URLs
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.+)$ $1.html [L,QSA]

  # Rule for handling client-side routing and subdirectories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^([^/]+)/$ $1/index.html [L]

</IfModule>
